.Column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    background: #eee;
    border-radius: 5px;
    margin-bottom: 2vh;
    min-height: 10vh;
    overflow: auto;
    position: relative;
}

.Column .task-container {
    padding: 0.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Column .task-container.draggingOver {
    background-color: rgba(0, 0, 0, 0.2);
}

.Column h2 {
    background-color: white;
    width: 100%;
    text-align: center;
}
